<style type="text/css">
    .block {
        padding: 8px;
        margin: 8px;
        border: 1px solid black;
        border-radius: 8px;
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }

    h3 {
        text-transform: uppercase; 
    }
</style>

<div>
    <center>
        <div class="block">
            <a href="/register"><h3>Register</h3></a>
            <div>
                <p>A new customer want to register (sign in) to your wonderful application, to realize this operation you put in place your registration workflow.
                    Your workflow, you can use your Identity Prodiver or we propose to use our IDP.</p>
                <p>To access to our IDP, you have a set of endpoint to manage the customer (/register, /forgot_password, /change_password, etc...).</p>
                <p>In this sample, you will test the registration process and the configuration associated. The gift is the Authorization Code JWT generated. You will check it, or use it in your test process.</p>
            </div>
        </div>
        <div class="block">
            <a href="/login"><h3>Login</h3></a>
            <div>
                <p>Curabitur luctus lorem felis, sed auctor erat varius ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla lobortis fringilla erat. Maecenas ut est sit amet velit blandit hendrerit nec ut ligula. Phasellus porta tempor euismod. Nulla vitae nisl vel dui rhoncus eleifend quis sit amet mi. Cras pulvinar vel diam a vehicula. Phasellus id auctor nulla, vel aliquam odio. Sed ut malesuada sem.</p>
                <p>Curabitur iaculis dui et nulla posuere, sed fermentum est gravida. Vivamus pellentesque efficitur commodo. Nunc in augue non nisl pretium accumsan a vehicula libero. Sed fringilla semper varius. Vestibulum nec sem in felis ultrices suscipit. Proin eget turpis eu enim pulvinar imperdiet in vel purus. Cras et enim purus. Mauris eget efficitur erat, vitae auctor est. Curabitur dapibus eget lacus in fringilla. Curabitur vitae hendrerit leo.</p>
            </div>
        </div>
    </center>
</div>