<h1>Your login page!!!</h1>

<form action="/roc_login" method="POST">
    <ul>
        <li><label for="username">Login</label><input type="text" name="username"></input></li>
        <li><label for="password">Password</label><input type="password" name="password"></input></li>
        <li><input type="submit" /></li>
    </ul>
</form>
